* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-family: 'Unbounded', cursive;
  }

header {
    width: 100%;
    color:black;
    background-color: lightblue;
    padding: 80px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-family: 'Unbounded', cursive;
}

h1{
    width: 100%;
}


body {
        
        background-color: lightgray;
}
   
img {
    /*float: left;
    en modo celular se achica demasiado*/
    width: 30%;
    margin-bottom: 20px;

}
#sobremi{
    display: none;
    font-size: large;

}

h2 {
    color:black;
    background-color: lightskyblue;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h5  {

    font-style:bold;
    font-size: large;
    font-family: 'Inconsolata', monospace;
}

h6 {
    font-style:italic;
    font-size: medium;
    font-family: 'Inconsolata', monospace;

}

p {
    font-family: 'Inconsolata', monospace;
   

}



.lista {
    font-family: 'Inconsolata', monospace;
    font-size: large;


}

.menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 0px solid black;
  }

 
  
a{
    font-family: 'Inconsolata', monospace;
    color: lightskyblue;
    

} 

/*no anda*/
a:hover{
    color: black;
    font-size: +3px ;
    
}

  .main {
    width: 75%;
    float: left;
    padding: 15px;
    border: 0px solid black;
  }

  footer {
    margin: 10px;
    padding: 60px;
    text-align: center;
    color: white;
  }


  
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    .menu, .main {
      width: 100%;
      height: auto;
    }
}


.menu ul {
    list-style-type: none;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: lightblue;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: lightskyblue;
  }



  #tothetop {
   /* display: none; no anda que aparezca cuando scrolleas*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 30px;
    font-family: 'Unbounded', cursive;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #tothetop:hover {
    background-color: lightskyblue;
  }

  label {
    padding-right: 10px;
    font-size: 1rem;
    color: lightseagreen;
}


.progress {
    height: 15px;
    width: 20%;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: lightseagreen;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}